<li class="control-menu-nav-item ${cssClass}">
	<button aria-expanded="${ariaExpanded}" aria-label="${ariaLabel}" class="control-menu-icon lfr-portal-tooltip product-menu-toggle sidenav-toggler" data-content="body" data-qa-id="productMenu" data-target="#${portletNamespace}sidenavSliderId" data-title="${title}" data-toggle="sidenav" data-type="fixed-push" data-type-mobile="fixed" ${dataURL} id="${portletNamespace}sidenavToggleId" type="button">
		<span class="toast-animation">
			<span class="pm"></span>

			<span class="cn"></span>
		</span>
	</button>
</li>